registry=https://registry.npmjs.org
@tauri-apps:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@rollup:registry=https://registry.npmjs.org
@esbuild:registry=https://registry.npmjs.org
